DB_PATH=
DB_TYPE=
FIREBASE_CLIENT_EMAIL=
FIREBASE_DATABASE_URL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_FCM_SERVER_KEY=
VITE_FIREBASE_FCM_VAPID_KEY=
JWT_EXPIRES_IN=
JWT_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_URL=
VITE_GA_ID=
VITE_GOOGLE_VERIFICATION=
GEMINI_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=